<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>simple-calc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2061D4901BD93A5200FD90A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2061D4A41BD93A5500FD90A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2061D4AF1BD93A5500FD90A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
